/*---------Para resetar CSS--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    font-family: "Barlow", sans-serif;
    font-weight: 80;
    font-style: normal;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* a transição entre as seções seria feita de forma suave */
}

body {
  min-height: 100vh
}

.container-cadastro {
    display: flex;
    height: 100vh;
    width: 100%;
}

.container-cadastro .card {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-cadastro input{
    background: rgba(253, 253, 247, 1);
}

.container-cadastro h2{
    font-weight: 600;
}

.container-cadastro .campo span{
    font-weight: 550;
}

.container-cadastro .container2 {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: rgb(176, 179, 3); /* sobreposição amarelo */
    background-color: rgb(0, 0, 0) /* sobreposição preto */
}

.container-cadastro .container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.container-cadastro .card-campo {
    flex: 0.6;
    background-color: rgba(253, 253, 247, 1);
    padding: 6px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.0;

}

.card-campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 80%;
}

.botao {
    background-color: #000000;
    color: rgba(253, 253, 247, 1);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
}

.botao:hover {
    background-color: #1d1e1e;
}

.descricao span {
    font-size: 12px;
    color: #555;
}

.cad-login span, .cad-login a {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    font-size: 14px;
    color: #000000;
}

.cad-login {
    line-height: 1.8;
}

.cad-login a{
    color:rgb(76, 54, 125)
}

a:hover {
    text-decoration: underline;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 9999; /* Garante que fique na frente */
}

.card_erro {
  display: none;
  background-color: rgba(253, 253, 247, 1);
  color: black;
  width: fit-content;
  max-width: 90%;
  border-radius: 4px;
  border: #000000 3px solid;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}