/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-image: url(../assets/imgs/img-quizz.svg);
    font-family: "Barlow", sans-serif;
}


button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
}

.border-secondary {
    width: 100%;
    
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#pontuacao{
    background-color: rgba(255, 255, 247, 1);
    display: flex;
    text-align: center;
    position: absolute;
    top: 10px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 94%;
}

.Quizz {
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 247, 1);
    color: #000;
    border: rgb(27, 26, 94) solid 2px;
    border-radius: 14px;
    width: 74%;
    max-width: 760px;
    height: auto;
    padding: 24px;
    text-align: center;
    transition: 0.3s ease;
    background-repeat: no-repeat;
}

button {
    font-family: monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--secondary-brand-color);
    border-radius: 7px;
    height: 60px;
    width: 120px;
    border: white solid 3px;
    transition: background-color 0.4s ease;
}

button:hover {
  background-color: var(--secondary-brand-color);
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

#btn-nav-white:hover {
    background-color: white;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  background-color: #fffff8; 
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 0 16px;
}

.logo {
  position: absolute;
  left: 16px;
  height: 50px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color:black;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnIniciarQuiz {
    margin: 10px; 
}

#botoes{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#infoQuestao{
    display: flex;
    justify-content: flex-end;
    font-size: 9px;
    font-weight: 540;
    color: #212427;
}